<mat-toolbar color="primary">
  <span>{{ title }}</span>
</mat-toolbar>
<mat-sidenav-container class="main">
  <mat-sidenav class="sidenav" mode="over" #drawer [(opened)]="opened">
    <app-form></app-form>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-tablelist (openEvent)="openEvent()"></app-tablelist>
  </mat-sidenav-content>
</mat-sidenav-container>
