<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Текст задачи"  #taskText>
  </mat-form-field>
  <button mat-button [disabled]='!taskText.value.length' (click)="postTask(taskText.value); taskText.value = ''">
    <mat-icon>add</mat-icon>
    Добавить
  </button>
</form>