<div mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="data.text">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Отменить</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Сохранить</button>
</div>