  
  <div class="text" *ngIf="!dataSource; else table">
    Задач нет
    <button mat-button (click)="toggleDrawer()">
      <mat-icon>add</mat-icon>
      создать первую задачу
    </button>
  </div>

  <ng-template #table>
    <button mat-button (click)="toggleDrawer()">
      <mat-icon>add</mat-icon>
      Добавить
    </button>
    <table mat-table [dataSource]="dataSource" class="tablelist">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="text">
        <th mat-header-cell *matHeaderCellDef> Text </th>
        <td mat-cell *matCellDef="let element"> {{element.text}} </td>
      </ng-container>

      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button (click)="openEditDialog(element.id, element.text)">
            <mat-icon>create</mat-icon>
          </button>
          <button mat-button (click)="openDialog(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </ng-template>