<div mat-dialog-content>
  <p>Вы уверены?</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Нет</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Да</button>
</div>